/1.json
/1.srt
/1.tsv
/1.txt
/1.vtt
/AGrandeSongs
/audapi.py
/Blank Space.wav
/change.py
/duckkaggle500.txt
/ducklistpod2.txt
/ducknew.txt
/EChouSongs
/Ed Sheeran on Spout Podcast.mp4
/Ed Sheeran Podcasts
/ed_sheeran_spotify.csv
/file_data.json
/kagglelist1000.txt
/kagglelist1000npy.txt
/kagglelist18000.txt
/kagglelist200.txt
/kagglelist500.txt
/kagglelist500npy.txt
/list copy.txt
/list.txt
/list2.txt
/list3.txt
/listcant.txt
/listpod.txt
/listpod2.txt
/listpod2npy.txt
/logs.txt
/MakeFile
/metadata.csv
/MiscSongs
/perfect ed sheeran
/perfect ed sheeran - acapella  ( só a voz ).mp4
/Perfect.mp4
/preprocess.py
/preprocess1file.py
/readcsv.py
/readcsv200.py
/readcsved.py
/renametxt.py
/renamewavs.py
/separatetest.py
/Shape of You.wav
/splittest
/tacoinstall.py
/test.py
/Thinking Out Loud.wav
/Ti Mian (體面) - Kelly Yu (LYRICS PINYIN).wav
/titlefiles.py
/train_data.json
/val_data.json
/webcrawlerv2.py
/whispercant.py
/whisperdetect.py
/writetofile.py
/writetofilepod.py
/有一種悲傷.wav
/胡夏【那些年】 Those Bygone Years (KTV with Pinyin).wav